{% extends "dashboard/empresa.html" %}
{% block body %}

<script>
    window.onload = function () {
        get_anticipos();
    };</script>


<section class="form container-fluid">

    <button type="button" class="btns btn-primary" data-toggle="modal" data-target="#myModalAnticipo">
        Agregar
    </button>

<!-- Modal para ingresar nuevo anticipo -->
<div class="modal fade" id="myModalAnticipo">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Agregar Anticipo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form id="insertar_anticipo">
                    <label for="fecha_atencion_anticipo">Fecha de Atención:</label>
                    <input type="date" class="form-control" id="fecha_atencion_anticipo" name="fecha_atencion_anticipo" required>
                    <label for="fecha_pago">Fecha de Pago:</label>
                    <input type="date" class="form-control" id="fecha_pago" name="fecha_pago" required>
                    <label for="descripcion_anticipo">Descripción:</label>
                    <input type="text" class="form-control" id="descripcion_anticipo" name="descripcion_anticipo" required>
                    <label for="id_usuario_anticipo">ID Usuario:</label>
                    <input type="text" class="form-control" id="id_usuario_anticipo" name="id_usuario_anticipo" required>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="submitBtnAnticipo" onclick="add_anticipo()">Guardar</button>
            </div>
        </div>
    </div>
</div>



    <label for="buscar">Buscar:</label>
    <input type="text" id="searchInput" placeholder="Buscar..." onclick="Search()">
    <ul id="results"></ul>
    <table id="miTabla">
        <thead>
            <tr>
                <th>No</th>
                <th>Usuario</th>
                <th>Fecha atencion</th>
                <th>Fecha pago</th>
                <th>Descripcion</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody id="data_anticipo">
            <!-- Aquí se insertarán los registros dinámicamente -->
        </tbody>
    </table>
</section>

{% endblock %}