{% extends "dashboard/empresa.html" %}
{% block body %}

<script>
    window.onload = function () {
        get_nominasss();
    };</script>


<section class="form container-fluid">

    <button type="button" class="btns btn-primary" data-toggle="modal" data-target="#myModalNomina">
        Agregar
    </button>

<!-- Modal para ingresar nueva nómina -->
<div class="modal fade" id="myModalNomina">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Agregar Nómina</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form id="insertar_nomina">
                    <label for="id_empleado_nomina">ID Empleado:</label>
                    <input type="text" class="form-control" id="id_empleado_nomina" name="id_empleado_nomina" required>
                    <label for="fecha_nomina">Fecha:</label>
                    <input type="date" class="form-control" id="fecha_nomina" name="fecha_nomina" required>
                    <label for="ausencia_dias">Ausencia Días:</label>
                    <input type="text" class="form-control" id="ausencia_dias" name="ausencia_dias" required>
                    <label for="horas_extra">Horas Extra:</label>
                    <input type="text" class="form-control" id="horas_extra" name="horas_extra" required>
                    <label for="venta_total">Venta</label>
                    <input type="text" class="form-control" id="venta_total" name="venta_total" required>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="submitBtnNomina" onclick="add_nomina()">Guardar</button>
            </div>
        </div>
    </div>
</div>



    <label for="buscar">Buscar:</label>
    <input type="text" id="searchInput" placeholder="Buscar..." onclick="Search()">
    <ul id="results"></ul>
    <table id="miTabla">
        <thead>
            <tr>
                <th>No</th>
                <th>Empleado</th>
                <th>Fecha</th>
                <th>Horas Trabajadas</th>
                <th>Horas_extra</th>
                <th>Dias Ausencia</th>
                <th>Dias Trabajadas</th>
                <th>Venta Total</th>
                <th>Comisiones</th>
                <th>Bonificacion</th>
            </tr>
        </thead>
        <tbody id="data_nominass">
            <!-- Aquí se insertarán los registros dinámicamente -->
        </tbody>
    </table>
    <button class="btns" id="regresarNominass" onclick="regresarNominass()">Regresar</button>
    <button class="btns" id="mostrarMasNominass" onclick="mostrarMasNominass()">Mostrar Más</button>
</section>

{% endblock %}