{% if current_user.id_role %}
    {% if current_user.id_role == 1 %}
        <script>window.location.href = "/dashboard";</script>
    {% elif current_user.id_role == 2 %}
        <script>window.location.href = "/dashboard_empresa";</script>
    {% elif current_user.id_role == 3 %}
        <script>window.location.href = "/dashboard_empleado";</script>
    {% elif current_user.id_role == 4 %}
        <script>window.location.href = "/dashboard_rrhh";</script>
    {% elif current_user.id_role == 5 %}
        <script>window.location.href = "/dashboard_jefe";</script>
    {% endif %}
{% else %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/login.css">

</head>

<body>
    <div id="contenedor">
        <div id="central">
            <div id="login">
                <div class="titulo">
                    Bienvenido
                </div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <div class="mensaje">
                        {{ message }}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <form action="/login" method="POST" id="loginform">
                    <input type="number" name="id_empresa" placeholder="Id empresa" required min="1" max="9999">
                    <input type="text" name="usuario" placeholder="Usuario" required>

                    <input type="password" placeholder="Contraseña" name="password" required>

                    <button type="submit" title="Ingresar" name="Ingresar">Ingresar</button>
                </form>
                <div class="pie-form">
                    <a href="#">¿Perdiste tu contraseña?</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
{% endif %}