<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>

<body>


  <main class="main">
    <header class="header">
      <div class="logo">
        <span><ion-icon name="person-outline"></ion-icon></span>
        <h1>Dashboard</h1>
      </div>
      <!-- NAVIGATION  -->
      <nav class="navegation">
        <ul>
          <li style="--i: #56ccf2; --j:#2f80ed;">
            <a href="/dashboard">
              <span class="icon"><ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Home</span>
            </a>
          </li>
          <li style="--i: #56ccf2; --j:#2f80ed;">
            <a href="/about">
              <span class="icon"><ion-icon name="help-outline"></ion-icon>
              </span>
              <span class="title">About</span>
            </a>
          </li>
          <li style="--i: #e46729; --j:#e91a1d;">
            <a href="/logout">
              <span class="icon"><ion-icon name="log-in-outline"></ion-icon>
              </span>
              <span class="title">cerrar cesion</span>
            </a>
          </li>
        </ul>
      </nav>

    </header>

    <div class="body">
      <section class="panel ">
        <ul>
          <li><a href="/show_companies">Empresa</a></li>
          <li><a href="/show_employee">Empleado</a></li>
          <li><a href="/show_users">Usuarios</a></li>
          <li><a href="/show_roles">Roles</a></li>
        </ul>
      </section>
      
      {% block body %}
      {% endblock %}
    </div>


    <!-- footer -->
    <!-- scripts -->
    <footer class="footer">
      <ul>
        <li>
          
        </li>
      </ul>

    </footer>
  </main>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script src="{{url_for('static', filename='js/script.js')}}"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
</body>

</html>